# Maven build targets
target/

# VSCode
.vscode

# IntelliJ IDEA specific
.idea/
*.iml

### Mac OS ###
**.DS_Store

## Frame specific files
**/*.kubeconfig
*.env
config.yaml

# Pom version backup
**pom.xml.versionsBackup

**.jar
