name: Build

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: build-jdk-${{ matrix.version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [17, 21, 24]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.version }}

      - name: Cache m2 repo
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-${{ matrix.version }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.version }}-maven-

      - name: Build
        run: ./mvnw install -Dstyle.color=always

      - name: Run spotbugs check
        run: ./mvnw spotbugs:spotbugs